DATABASE_URL="file:./dev.db"
BETTER_AUTH_SECRET="replace-with-a-long-random-secret"
BETTER_AUTH_URL="http://localhost:3001"
UPLOADTHING_TOKEN='eyJhcGlLZXkiOiJza19saXZlX2M3MmEyMjEwMGQ5M2YxZjNhMjBiYWM1N2JlZmQ3ZmQyYzM4NTc1MjM2MTgyNTBhNGZkMzU3NzgyMjIzMDI0NGUiLCJhcHBJZCI6Im5meXVvYXM3bnYiLCJyZWdpb25zIjpbInNlYTEiXX0='

SEED_SUPER_ADMIN_EMAIL="superadmin@example.com"
SEED_SUPER_ADMIN_PASSWORD="superadmin-password"
SEED_ADMIN_EMAIL="admin@example.com"
SEED_ADMIN_PASSWORD="admin-password"
SEED_MODERATOR_EMAIL="moderator@example.com"
SEED_MODERATOR_PASSWORD="moderator-password"
